body{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

#map {
    width: 100%;
    height: 95%;
    position: relative;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding: 30px 0 0 0;
}
.searchBarDiv{
    background-color: white;
    position: absolute;
    top: 5%;
    z-index: 1000;
    width: 22%;
    border: 3px solid rgb(255, 251, 24);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    /* box-shadow: rgba(248, 248, 248, 0.725) 3px 7px; */
    box-shadow: 0px 5px 15px 3px rgb(252, 250, 160);

}
#srchBarInput{
    width:100%;
    height: 25px;
    border: none;
    font-size: 14px;
}
#srchBarInput:focus {
  outline: none;
}
.searchBarDiv>svg{ 
    color: red;
    width: 30px;
    height: 30px;
    padding: 3px;
}
.searchBarDiv>svg:hover{
    background-color: rgba(255, 244, 222, 0.597);
    border-radius: 100%;
    padding: 3px;
    transition:ease-in-out 0.5s;
}